fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
pillow
iopaint
torch
torchvision
huggingface-hub==0.25.2
easyocr
transformers
einops
timm
git+https://github.com/facebookresearch/sam2.git
diffusers
accelerate
